body {
  margin: 0px;
  font-family: sans-serif;
}
nav {
  padding: 0px;
}
.nav {
  display: flex;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
  padding-left: 7%;
  padding-right: 7%;
}
.logo {
  font-weight: 1000;
  font-size: 30px;
}

.links {
  display: flex;
  text-decoration: none;
  font-weight: 700;
}
.input-icons i {
  position: absolute;
}
.icon {
  padding-top: 10px;
  min-width: 50px;
  text-align: center;
}

.input-field {
  background-color: #ededed;
  border-radius: 50px;
  padding: 8px 0px 8px 0px;
  text-align: center;
  color: #ededed;
}

a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.text1 {
  font-weight: 600;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: 70px;
  padding-top: 70px;
  font-stretch: ultra-expanded;
}

.text2 {
  height: max-content;
  padding-top: 42px;
  padding-bottom: 70px;
  text-align: center;
  justify-content: center;
  font-size: 40px;
  color: #9f9f9f;
}

.btn {
  display: flex;
  background-color: #004687;
  border: none;
  padding: 20px 70px 20px 70px;
  font-size: 25px;
  font-weight: 700;
  color: white;
  text-align: center;
  border-radius: 7px;
  margin: auto;
}
.image-card {
  padding-top: 90px;
  padding-left: 70px;
  position: relative;
}
.image-card img {
  border-radius: 20px;
  width: 58%;
  height: 500px;
}
.card .color {
  font-weight: 900;
}
.card {
  font-size: 25px;
  background-color: #ffffff;
  position: absolute;
  top: 21%;
  left: 55%;
  border-radius: 25px;
  padding: 2%;
  margin-right: 70px;
  box-shadow: 2px 2px 2px 2px rgba(239, 239, 239, 255);
}
.lm {
  font-size: 20px;
  padding-bottom: 0px;
}
.title {
  color: black;
  font-weight: 1000;
  padding-top: 15px;
  padding-bottom: 20px;
  font-stretch: ultra-expanded;
  font-size: 40px;
  font-family: serif;
}
.content {
  color: #898989;
}
.icon-tray {
  position: absolute;
  top: 83%;
  left: 69%;
  color: #7f7f7f;
  font-size: 30px;
}
.writer {
  border-radius: 20px;
  background-color: #004687;
  margin: 80px 70px 80px 70px;
  text-align: center;
  justify-content: center;
}
.featured {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 30px;
  color: white;
  font-weight: 700;
}

.im {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding-bottom: 15px;
}
.names {
  color: white;
  font-size: 30px;
  margin-bottom: 30px;
}
.color {
  color: #004687;
}

.toggler {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

@media only screen and (max-width: 768px) {
  .toggler {
    display: flex;
    font-size: 30px;
  }

  .input-icons {
    display: none;
  }
  .links {
    display: none;
  }
  .ctn {
    padding-left: 30px;
    padding-right: 30px;
  }
  .text1 {
    font-weight: 700;
    font-size: 39px;
  }
  .text2 {
    font-size: 24px;
  }
  .content-body {
    padding-left: 3%;
    padding-right: 3%;
  }
  .image-card {
    padding-top: 60px;
    padding-left: 0%;
    padding-right: 0%;
    position: relative;
  }
  .image-card img {
    border-radius: 20px;
    width: 100%;
    display: block;
    height: 400px;
  }
  .card {
    font-size: 30px;
    background-color: #ffffff;
    width: 85%;
    top: 85%;
    left: 4.45%;
    border-radius: 25px;
    padding: 3%;
  }
  .lm {
    font-size: 20px;
    padding-bottom: 0px;
  }
  .title {
    padding-bottom: 25px;
    color: black;
    font-weight: 1000;
    font-stretch: ultra-expanded;
    font-size: 35px;
  }
  .content {
    font-size: 25px;
    color: #898989;
    font-weight: 0;
  }
  .icon-tray {
    padding-top: 50px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 150%;
    left: 0%;
    color: #7f7f7f;
    font-size: 30px;
  }
  .writer {
    border-radius: 50px;
    background-color: #004687;
    margin: 400px 0px 200px 0px;
    text-align: center;
    justify-content: center;
  }
  .featured {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    color: white;
    font-weight: 700;
  }

  .names {
    color: white;
    font-size: 30px;
  }
  .color {
    color: #004687;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
  }
}
